{% extends 'base.html' %}

{% block title %}Seja bem vindo{% endblock %}

{% block main %}
<h3>Home</h3>
<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
         <h1>Seja bem vindo a home 2</h1>
    </div>
    {{ result }}
    <div class="col-sm">
        {% if user.is_authenticated %}
            <p>Olá {{ user.username }}</p>
            <a href="{% url 'logout' %}" class="btn btn-warning">Sair</a>
        {% else %}
            <a href="{% url 'login' %} " class="btn btn-warning">login</a>
        {% endif %}
    </div>
</div>


{% endblock %}