{% extends 'basepage.html' %}
{% load bootstrap %}

{% block mainlogin %}

          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-dark text-left p-5">
                    <h2>Login</h2>
                    <h3>Seja Bem Vindo!</h3>
                    <form class ="pt-4" method="post" >
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium">Login</button>
                    </form>
                </div>
            </div>
          </div>
{% endblock %}




