<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-name">
                <p class="name">{{user.username}}</p>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'person_list'%}"><i class="fa fa-address-card"></i><span class="menu-title">Cliente</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'lista_produtos'%}"><i class="fa fa-cubes"></i><span class="menu-title">Produto</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'lista_produtos'%}"><i class="fa fa-group"></i><span class="menu-title">Fornecedor</span></a></li>

        </ul>
</nav>