<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-name">
                <p class="name">{{user.username}}</p>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'person_list'%}"><img class="menu-icon" src="admin/img/02.png"><span class="menu-title">Cliente</span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'lista_produtos'%}"><img class="menu-icon" src="images/menu_icons/02.png"><span class="menu-title">Produto</span></a></li>
          <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html"><img class="menu-icon" src="images/menu_icons/03.png"><span class="menu-title">Fornecedor</span></a></li>
          <li class="nav-item"><a class="nav-link" href="pages/ui-features/buttons.html"><img class="menu-icon" src="images/menu_icons/03.png"><span class="menu-title">Pedido</span></a></li>

        </ul>
</nav>